@charset "utf-8";

@import 'variables';

//todo import only the bulma parts needed
@import '~bulma/bulma';

.hoverable {
  &:hover {
    background-color: $white-ter;
  }
}

.image img.cover {
  object-fit: cover;
  height: 100%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vcentered > * {
  vertical-align: middle;
}
