@charset "utf-8";

@import 'variables';

//todo import only the bulma parts needed
@import '~bulma/bulma';

.no-select {
  user-select: none;
}

.hoverable {
  &:hover {
    background-color: $white-ter;

    .hover-hide {
      display: none;
    }
  }

  &:not(:hover) .hover-show {
    display: none;
  }
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-overlay {
  @extend %overlay;
  position: fixed;
  overflow: hidden;

  background-color: $body-background-color;
  z-index: 1000;
}

.image.responsive-cover {
  @extend .cover;

  aspect-ratio: 1;

  width: min(300px, 100%);

  @media screen and (max-height: 499px) {
    display: none;
  }

  box-shadow: $card-shadow;
}

.image.cover img {
  object-fit: cover;
  height: 100%;
}

img.hide-alt {
  color: transparent;
  user-select: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vcentered > * {
  vertical-align: middle;
}

p.text-placeholder {
  width: calc(var(--length, 20) * 1.1ch);

  &::before {
    @extend .loading;

    content: '';

    display: inline-block;
    width: 100%;
    height: 1em;
    vertical-align: middle;
  }
}

.loading {
  background-image: linear-gradient(
    to right,
    $grey-lightest 20%,
    $grey-lighter 40%,
    $grey-lightest 60%
  );
  background-size: 1300px;

  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: -650px;
  }
  100% {
    background-position: 650px;
  }
}
